# Environment
.env

# Composer
/vendor/

# Logs
storage/logs/*.log

# Cache
storage/cache/*.php
storage/cache/*.json

# Uploads
storage/uploads/*
!storage/uploads/.gitkeep

# Temp
storage/temp/*
!storage/temp/.gitkeep

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# PHP
*.php~

# Test artifacts
tests/coverage/

# OS
desktop.ini